In [1]:
import numpy as np
import pandas as pd
import os
import json
import pprint

In [2]:
dataset_name = 'medical_costs'

In [3]:
input_dir = './raw'
output_dir = './processed'

inp_fname = 'medical_costs.csv'

outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')
outp_train_fname = os.path.join(output_dir, f'{dataset_name}_train.csv')
outp_test_fname = os.path.join(output_dir, f'{dataset_name}_test.csv')
outp_test_key_fname = os.path.join(output_dir, f'{dataset_name}_test_key.csv')
outp_infer_instances = os.path.join(output_dir, f'{dataset_name}_infer_req.json')

# Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
id_col = "id"
target_col = "charges"

# Shuffle Data

In [6]:
# shuffle data
data = data.sample(frac=1, random_state=42)
data.head()

      age     sex     bmi  children smoker     region      charges
764    45  female  25.175         2     no  northeast   9095.06825
887    36  female  30.020         0     no  northwest   5272.17580
890    64  female  26.885         0    yes  northwest  29330.98315
1293   46    male  25.745         3     no  northwest   9301.89355
259    19    male  31.920         0    yes  northwest  33750.29180

# Insert Id Column

In [7]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

      id  age     sex     bmi  children smoker     region      charges
764    0   45  female  25.175         2     no  northeast   9095.06825
887    1   36  female  30.020         0     no  northwest   5272.17580
890    2   64  female  26.885         0    yes  northwest  29330.98315
1293   3   46    male  25.745         3     no  northwest   9301.89355
259    4   19    male  31.920         0    yes  northwest  33750.29180

# Save Main Data File

In [8]:
data.to_csv(outp_fname, index=False)

# Train Test Split

In [9]:
from sklearn.model_selection import train_test_split
test_size = 0.1

data_train, data_test = train_test_split(data, test_size=test_size, random_state=42)
print(data_train.shape, data_test.shape)

data_train.to_csv(outp_train_fname, index=False)
data_test.drop(columns=[target_col]).to_csv(outp_test_fname, index=False)
data_test[[id_col, target_col]].to_csv(outp_test_key_fname, index=False)

(1204, 8) (134, 8)

# JSON inference request instance

In [10]:
instance = data_test.replace({np.nan:None}).drop(columns=[target_col]).reset_index(drop=True).loc[0].to_dict()
infer_req_instance_dict = {  "instances": [ {**instance}, ] }
pprint.pprint(infer_req_instance_dict)
   
with open(outp_infer_instances, 'w', encoding='utf8') as f:
    json.dump(infer_req_instance_dict, f, indent=2, ensure_ascii=False)

{'instances': [{'age': 21,
                'bmi': 25.745,
                'children': 2,
                'id': '764',
                'region': 'northeast',
                'sex': 'male',
                'smoker': 'no'}]}