In [14]:
import numpy as np
import pandas as pd
import os

In [15]:
dataset_name = 'ailerons'

In [16]:
input_dir = './data'
inp_fname = 'ailerons.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [17]:
data = pd.read_csv(os.path.join(input_dir, inp_fname)  )
print(data.shape)
data.head()

(13750, 41)

,climbRate,Sgz,p,q,curPitch,curRoll,absRoll,diffClb,diffRollRate,diffDiffClb,...,diffSeTime8,diffSeTime9,diffSeTime10,diffSeTime11,diffSeTime12,diffSeTime13,diffSeTime14,alpha,Se,goal
0,2,-56,-0.33,-0.09,0.90,0.2,-11,12,0.004,-0.1,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.032,-0.0009
1,470,-39,0.02,0.12,0.39,-0.6,-12,8,0.009,-1.6,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.034,-0.0011
2,165,4,0.14,0.14,0.78,0.4,-11,-9,-0.003,-0.2,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,1.0,0.034,-0.0012
3,-113,5,-0.12,0.11,1.06,0.6,-10,-7,-0.008,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.033,-0.0011
4,-411,-21,-0.17,0.07,1.33,-0.6,-11,0,0.002,0.1,...,0.0,0.0,0.0,0.0,0.0,-0.002,0.0,0.9,0.032,-0.0008

In [18]:
id_col = "id"
target_col = "goal"

# Insert Id Column

In [19]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   id  climbRate  Sgz     p     q  curPitch  curRoll  absRoll  diffClb  \
0   0          2  -56 -0.33 -0.09      0.90      0.2      -11       12
1   1        470  -39  0.02  0.12      0.39     -0.6      -12        8
2   2        165    4  0.14  0.14      0.78      0.4      -11       -9
3   3       -113    5 -0.12  0.11      1.06      0.6      -10       -7
4   4       -411  -21 -0.17  0.07      1.33     -0.6      -11        0

   diffRollRate  ...  diffSeTime8  diffSeTime9  diffSeTime10  diffSeTime11  \
0         0.004  ...          0.0          0.0           0.0           0.0
1         0.009  ...          0.0          0.0           0.0           0.0
2        -0.003  ...          0.0          0.0           0.0           0.0
3        -0.008  ...          0.0          0.0           0.0           0.0
4         0.002  ...          0.0          0.0           0.0           0.0

   diffSeTime12  diffSeTime13  diffSeTime14  alpha     Se    goal
0           0.0         0.000           0.0    0.9  0.032 -0.0009
1           0.0         0.000           0.0    0.9  0.034 -0.0011
2           0.0         0.000           0.0    1.0  0.034 -0.0012
3           0.0         0.000           0.0    0.9  0.033 -0.0011
4           0.0        -0.002           0.0    0.9  0.032 -0.0008

[5 rows x 42 columns]

# Save Main Data File

In [20]:
data.to_csv(outp_fname, index=False)