In [22]:
import numpy as np
import pandas as pd
import os

In [23]:
dataset_name = 'aquatic_toxicity'

In [24]:
input_dir = './data'
inp_fname = 'qsar_aquatic_toxicity.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [25]:
cols = [
    "TPSA(Tot)", "SAacc", "H-050", "MLOGP", "RDCHI", "GATS1p", "nN", "C-040", "LC50"
]

In [26]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), sep=";", header=None, names=cols)
print(data.shape)
data.head()

(546, 9)

   TPSA(Tot)  SAacc  H-050  MLOGP  RDCHI  GATS1p  nN  C-040   LC50
0       0.00    0.0      0  2.419  1.225   0.667   0      0  3.740
1       0.00    0.0      0  2.638  1.401   0.632   0      0  4.330
2       9.23   11.0      0  5.799  2.930   0.486   0      0  7.019
3       9.23   11.0      0  5.453  2.887   0.495   0      0  6.723
4       9.23   11.0      0  4.068  2.758   0.695   0      0  5.979

In [27]:
id_col = "Id"
target_col = "LC50"

# Insert Id Column

In [28]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   Id  TPSA(Tot)  SAacc  H-050  MLOGP  RDCHI  GATS1p  nN  C-040   LC50
0   0       0.00    0.0      0  2.419  1.225   0.667   0      0  3.740
1   1       0.00    0.0      0  2.638  1.401   0.632   0      0  4.330
2   2       9.23   11.0      0  5.799  2.930   0.486   0      0  7.019
3   3       9.23   11.0      0  5.453  2.887   0.495   0      0  6.723
4   4       9.23   11.0      0  4.068  2.758   0.695   0      0  5.979

# Save Main Data File

In [29]:
data.to_csv(outp_fname, index=False)