In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
dataset_name = 'abalone'

In [6]:
input_dir = './data'
inp_fname = 'abalone.data'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [7]:
col_names = [
    'Sex',
    'Length',
    'Diameter',
    'Height',
    'Whole weight',
    'Shucked weight',
    'Viscera weight',
    'Shell weight',
    'Rings'    
]

In [8]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), header=None,names=col_names)
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [9]:
id_col = "Id"
target_col = "Rings"

# Insert Id Column

In [10]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   Id Sex  Length  Diameter  Height  Whole weight  Shucked weight  \
0   0   M   0.455     0.365   0.095        0.5140          0.2245
1   1   M   0.350     0.265   0.090        0.2255          0.0995
2   2   F   0.530     0.420   0.135        0.6770          0.2565
3   3   M   0.440     0.365   0.125        0.5160          0.2155
4   4   I   0.330     0.255   0.080        0.2050          0.0895

   Viscera weight  Shell weight  Rings
0          0.1010         0.150     15
1          0.0485         0.070      7
2          0.1415         0.210      9
3          0.1140         0.155     10
4          0.0395         0.055      7

# Save Main Data File

In [11]:
data.to_csv(outp_fname, index=False)