In [1]:
import numpy as np
import pandas as pd
import os
import json
import pprint

In [2]:
dataset_name = 'house_prices'

In [3]:
input_dir = './raw'
output_dir = './processed'

inp_fname = 'house_prices.csv'

outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')
outp_train_fname = os.path.join(output_dir, f'{dataset_name}_train.csv')
outp_test_fname = os.path.join(output_dir, f'{dataset_name}_test.csv')
outp_test_key_fname = os.path.join(output_dir, f'{dataset_name}_test_key.csv')
outp_infer_instances = os.path.join(output_dir, f'{dataset_name}_infer_req.json')

# Read Data

In [4]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
id_col = "Id"
target_col = "SalePrice"

# Shuffle Data

In [6]:
# shuffle data
data = data.sample(frac=1, random_state=42)
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
892,893,20,RL,70.0,8414,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2006,WD,Normal,154500
1105,1106,60,RL,98.0,12256,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,325000
413,414,30,RM,56.0,8960,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2010,WD,Normal,115000
522,523,50,RM,50.0,5000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,Normal,159000
1036,1037,20,RL,89.0,12898,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,315500

# Insert Id Column

In [7]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

# Save Main Data File

In [8]:
data.to_csv(outp_fname, index=False)

# Train Test Split

In [9]:
from sklearn.model_selection import train_test_split
test_size = 0.1

data_train, data_test = train_test_split(data, test_size=test_size, random_state=42)
print(data_train.shape, data_test.shape)

data_train.to_csv(outp_train_fname, index=False)
data_test.drop(columns=[target_col]).to_csv(outp_test_fname, index=False)
data_test[[id_col, target_col]].to_csv(outp_test_key_fname, index=False)

(1314, 81) (146, 81)

# JSON inference request instance

In [10]:
instance = data_test.replace({np.nan:None}).drop(columns=[target_col]).reset_index(drop=True).loc[0].to_dict()
infer_req_instance_dict = {  "instances": [ {**instance}, ] }
pprint.pprint(infer_req_instance_dict)

with open(outp_infer_instances, 'w', encoding='utf8') as f:
    json.dump(infer_req_instance_dict, f, indent=2, ensure_ascii=False)

{'instances': [{'1stFlrSF': 912,
                '2ndFlrSF': 0,
                '3SsnPorch': 0,
                'Alley': None,
                'BedroomAbvGr': 2,
                'BldgType': '1Fam',
                'BsmtCond': 'TA',
                'BsmtExposure': 'No',
                'BsmtFinSF1': 111,
                'BsmtFinSF2': 279,
                'BsmtFinType1': 'BLQ',
                'BsmtFinType2': 'LwQ',
                'BsmtFullBath': 0,
                'BsmtHalfBath': 1,
                'BsmtQual': 'TA',
                'BsmtUnfSF': 522,
                'CentralAir': 'Y',
                'Condition1': 'Norm',
                'Condition2': 'Norm',
                'Electrical': 'SBrkr',
                'EnclosedPorch': 0,
                'ExterCond': 'TA',
                'ExterQual': 'TA',
                'Exterior1st': 'MetalSd',
                'Exterior2nd': 'MetalSd',
                'Fence': 'MnWw',
                'FireplaceQu': None,
                'Fireplaces': 0,
                'Foundation': 'CBlock',
                'FullBath': 1,
                'Functional': 'Typ',
                'GarageArea': 297,
                'GarageCars': 1,
                'GarageCond': 'TA',
                'GarageFinish': 'Fin',
                'GarageQual': 'TA',
                'GarageType': 'Attchd',
                'GarageYrBlt': 1958.0,
                'GrLivArea': 912,
                'HalfBath': 0,
                'Heating': 'GasA',
                'HeatingQC': 'Fa',
                'HouseStyle': '1Story',
                'Id': '500',
                'KitchenAbvGr': 1,
                'KitchenQual': 'TA',
                'LandContour': 'Lvl',
                'LandSlope': 'Gtl',
                'LotArea': 7535,
                'LotConfig': 'Inside',
                'LotFrontage': 70.0,
                'LotShape': 'IR1',
                'LowQualFinSF': 0,
                'MSSubClass': 20,
                'MSZoning': 'RL',
                'MasVnrArea': 0.0,
                'MasVnrType': 'None',
                'MiscFeature': 'Shed',
                'MiscVal': 480,
                'MoSold': 6,
                'Neighborhood': 'NAmes',
                'OpenPorchSF': 285,
                'OverallCond': 7,
                'OverallQual': 5,
                'PavedDrive': 'Y',
                'PoolArea': 0,
                'PoolQC': None,
                'RoofMatl': 'CompShg',
                'RoofStyle': 'Gable',
                'SaleCondition': 'Normal',
                'SaleType': 'WD',
                'ScreenPorch': 0,
                'Street': 'Pave',
                'TotRmsAbvGrd': 5,
                'TotalBsmtSF': 912,
                'Utilities': 'AllPub',
                'WoodDeckSF': 12,
                'YearBuilt': 1958,
                'YearRemodAdd': 1985,
                'YrSold': 2007}]}