In [8]:
import numpy as np
import pandas as pd
import os

In [9]:
dataset_name = 'diamond'

In [10]:
input_dir = './data'
inp_fname = 'diamond.csv'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [11]:
data = pd.read_csv(os.path.join(input_dir, inp_fname))
data.head()

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [12]:
id_col = "Id"
target_col = "Price"

# Insert Id Column

In [13]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   Id  Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0   0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1   1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2   2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3   3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4   4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

# Save Main Data File

In [14]:
data.to_csv(outp_fname, index=False)