In [5]:
import numpy as np
import pandas as pd
import os

In [6]:
dataset_name = 'college_pell_grants'

In [36]:
input_dir = './data'
inp_fname = 'dataset.arff'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [37]:
cols = [
    'unit_id', 'school_name', 'city', 'state', 'zip', 'school_webpage', 'latitude', 'longitude', 
    'admission_rate', 'sat_verbal_midrange', 'sat_math_midrange', 'sat_writing_midrange', 'act_combined_midrange', 
    'act_english_midrange', 'act_math_midrange', 'act_writing_midrange', 'sat_total_average', 'undergrad_size', 
    'percent_white', 'percent_black', 'percent_hispanic', 'percent_asian', 'percent_part_time', 'average_cost_academic_year', 
    'average_cost_program_year', 'tuition_(instate)', 'tuition_(out_of_state)', 'spend_per_student', 'faculty_salary', 
    'percent_part_time_faculty', 'percent_pell_grant', 'completion_rate', 'predominant_degree', 'highest_degree', 
    'ownership', 'region', 'gender', 'carnegie_basic_classification', 'carnegie_undergraduate', 'carnegie_size', 
    'religious_affiliation', 'percent_female', 'agege24', 'faminc', 'mean_earnings_6_years', 'median_earnings_6_years', 
    'mean_earnings_10_years', 'median_earnings_10_years',
]
len(cols)

48

In [38]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), quotechar="'", skiprows=54, sep=",", header=None, names=cols)
print(data.shape)
data.head()

(7063, 48)

,unit_id,school_name,city,state,zip,school_webpage,latitude,longitude,admission_rate,sat_verbal_midrange,...,carnegie_undergraduate,carnegie_size,religious_affiliation,percent_female,agege24,faminc,mean_earnings_6_years,median_earnings_6_years,mean_earnings_10_years,median_earnings_10_years
0,100654,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,34.7834,-86.5685,0.8989,410.0,...,"Full-time four-year, inclusive","Medium 4-year, highly residential (3,000 to 9,...",?,0.52999997138977,0.07999999821186,40211.22,26100.0,22800.0,35300.0,31400.0
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,www.uab.edu,33.5022,-86.8092,0.8673,580.0,...,"Medium full-time four-year, selective, higher ...","Large 4-year, primarily nonresidential (over 9...",?,0.64999997615814,0.25999999046325,49894.65,37400.0,33200.0,46300.0,40300.0
2,100690,Amridge University,Montgomery,AL,36117-3553,www.amridgeuniversity.edu,32.3626,-86.17399999999999,?,?,...,"Medium full-time four-year, inclusivestudents ...","Very small 4-year, primarily nonresidential (l...",Churches of Christ,0.50999999046325,0.82999998331069,38712.18,38500.0,32800.0,42100.0,38100.0
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu,34.7228,-86.6384,0.8062,575.0,...,"Medium full-time four-year, selective, higher ...","Medium 4-year, primarily nonresidential (3,000...",?,0.55000001192092,0.28999999165534,54155.4,39300.0,36700.0,52700.0,46600.0
4,100724,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu/email/index.aspx,32.3643,-86.2957,0.5125,430.0,...,"Full-time four-year, inclusive","Medium 4-year, primarily residential (3,000 to...",?,0.56999999284744,0.10999999940395,31846.99,21200.0,19300.0,30700.0,27800.0

In [39]:
id_col = "unit_id"
target_col = "percent_pell_grant"

# Prepare Data

In [40]:
# Drop unwanted columns
data.drop(columns=["school_name", "city", "zip", "school_webpage", "latitude", "longitude"], inplace=True)

In [41]:
data = data.replace("?", np.nan)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7063 entries, 0 to 7062
Data columns (total 42 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unit_id                        7063 non-null   int64
 1   state                          7063 non-null   object
 2   admission_rate                 2216 non-null   object
 3   sat_verbal_midrange            1300 non-null   object
 4   sat_math_midrange              1314 non-null   object
 5   sat_writing_midrange           793 non-null    object
 6   act_combined_midrange          1341 non-null   object
 7   act_english_midrange           1164 non-null   object
 8   act_math_midrange              1165 non-null   object
 9   act_writing_midrange           300 non-null    object
 10  sat_total_average              1419 non-null   object
 11  undergrad_size                 7062 non-null   object
 12  percent_white                  7062 non-null   object
 13  percent_black                  7062 non-null   object
 14  percent_hispanic               7062 non-null   object
 15  percent_asian                  7062 non-null   object
 16  percent_part_time              7057 non-null   object
 17  average_cost_academic_year     4135 non-null   object
 18  average_cost_program_year      2541 non-null   object
 19  tuition_(instate)              4137 non-null   object
 20  tuition_(out_of_state)         4137 non-null   object
 21  spend_per_student              7052 non-null   object
 22  faculty_salary                 4391 non-null   object
 23  percent_part_time_faculty      3902 non-null   object
 24  percent_pell_grant             7063 non-null   float64
 25  completion_rate                2446 non-null   object
 26  predominant_degree             6988 non-null   object
 27  highest_degree                 7063 non-null   object
 28  ownership                      7063 non-null   object
 29  region                         7063 non-null   object
 30  gender                         7063 non-null   object
 31  carnegie_basic_classification  4077 non-null   object
 32  carnegie_undergraduate         3557 non-null   object
 33  carnegie_size                  3558 non-null   object
 34  religious_affiliation          803 non-null    object
 35  percent_female                 5553 non-null   object
 36  agege24                        5553 non-null   object
 37  faminc                         5553 non-null   object
 38  mean_earnings_6_years          5612 non-null   object
 39  median_earnings_6_years        5612 non-null   object
 40  mean_earnings_10_years         5327 non-null   object
 41  median_earnings_10_years       5327 non-null   object
dtypes: float64(1), int64(1), object(40)
memory usage: 2.3+ MB

# Insert Id Column

In [43]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

In [44]:
# reorganize columns 
cols = [id_col] + list(data.columns.difference([id_col, target_col])) + [target_col]
data = data[cols]

In [47]:
data.columns

Index(['unit_id', 'act_combined_midrange', 'act_english_midrange',
       'act_math_midrange', 'act_writing_midrange', 'admission_rate',
       'agege24', 'average_cost_academic_year', 'average_cost_program_year',
       'carnegie_basic_classification', 'carnegie_size',
       'carnegie_undergraduate', 'completion_rate', 'faculty_salary', 'faminc',
       'gender', 'highest_degree', 'mean_earnings_10_years',
       'mean_earnings_6_years', 'median_earnings_10_years',
       'median_earnings_6_years', 'ownership', 'percent_asian',
       'percent_black', 'percent_female', 'percent_hispanic',
       'percent_part_time', 'percent_part_time_faculty', 'percent_white',
       'predominant_degree', 'region', 'religious_affiliation',
       'sat_math_midrange', 'sat_total_average', 'sat_verbal_midrange',
       'sat_writing_midrange', 'spend_per_student', 'state',
       'tuition_(instate)', 'tuition_(out_of_state)', 'undergrad_size',
       'percent_pell_grant'],
      dtype='object')

In [45]:
data.shape

(7063, 42)

# Save Main Data File

In [46]:
data.to_csv(outp_fname, index=False)